.grid > div{
    display: grid;
  height: 100%;
}



.grid > div  > div{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.grid div div .content{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: min-content;
    z-index: 1;
    color: aliceblue;
    transition: .9s;
    visibility: hidden;
    padding: .5em;
    text-align: center;
}
.grid > div img{
    width: 100%;
    height: 100%;
}
.grid > div > div:nth-child(1),.grid > div > div:nth-child(5){
    grid-row: span 2;
}

.grid > div > div:nth-child(3),.grid > div > div:nth-child(7){
    grid-column: span 2;
}

.grid{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-device-width:991px) {
    main{
        flex-direction: column;
    }
    .grid{
        height: 600px;
        width: calc((600px - 1.5em) / 3 * 4);
    }
    .grid > div{
        grid-template: repeat(3,1fr)/repeat(4,1fr);
    }
    
}
@media (max-device-width:991px) and (min-device-width:768px){
    .grid > div{
        grid-template: repeat(4,1fr)/repeat(3,1fr);      
    }
   .grid{
         width: calc((1000px - 1.5em) / 4 * 3);
         height: 1000px;
   }
    
}

@media (max-device-width:768px){
    .grid > div{
        grid-template: repeat(6,1fr)/repeat(2,1fr);      
    }
    .grid{
        width: calc((2000px - 1.5em) / 3);
        height: 2000px;
       }
}
.grid > div{
    gap:.5em;
    justify-items: stretch;
    grid-auto-flow: dense;
}
